# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# configs
/src/backend/src/config.json

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
**/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/backend/tmp/devcontainers-3455c97c-5cbc-4245-b5fc-983a9d8d20391675527298401/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-39a25238-ae05-4fbc-aaa5-95b9d2c324321675526639141/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-3a725b5a-cad3-40d4-82e1-056c281745c91675526860421/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-47c57046-70d9-4209-8f43-c448818dea3a1675537950583/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-604f793b-03e7-4de0-8741-5a3687b76a851675537698500/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-7fbcf4a7-f8b0-402f-82d8-6590138a6b581675530082771/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-c4b16ceb-5016-4c3b-b9f2-daeb25d6aef61675527546742/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-d3736176-ebf9-403b-8e09-821fcb9a46111675527731542/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-d9fa63ab-9d48-40f5-a522-b1e0f5219b0f1675537326831/env-loginInteractiveShell.json
src/backend/tmp/devcontainers-f5a8e3da-95aa-4415-8072-fd9b27b53ee71675536860065/env-loginInteractiveShell.json
