@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-tooltip/dist/react-tooltip.css';

body {
  background: #15202b;
}
.react-time-picker--enabled {
  background: #fff;
  color: #000;
}
.react-time-picker__wrapper {
  border: 0px none !important;
}
/* fixes bug with page stretching on mobile because of timepicker */
#root {
  @apply overflow-x-hidden;
}
/* apply defaults */
input,
select,
textarea,
.react-time-picker {
  @apply p-1 rounded-sm text-black;
}
.button-purple {
  @apply bg-indigo-300 text-indigo-900 hover:bg-indigo-700 hover:text-white disabled:bg-slate-300 disabled:text-black focus:bg-blue-800 focus:text-white;
}

.button-purple[aria-pressed='true'] {
  @apply text-white bg-violet-900 ring-2 ring-purple-500 ring-offset-1 ring-offset-slate-900;
}
.button-green {
  @apply bg-teal-700 text-white hover:bg-teal-900 hover:text-white focus:bg-emerald-900 focus:text-white;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
