body{
    background: #15202b;
}
.react-time-picker--enabled{
  background: #fff;
  color: #000;
}
.react-time-picker__wrapper{
  border:0px none;
}
/* fixes bug with page stretching on mobile because of timepicker */
#root{
  overflow-x: hidden;
}